<section class="login-page">
    <div class="login-center">
      <div class="login-div">
        <div class="text-center login-logo">
          <img class="img-fluid center-block" src="./assets/images/hgs-connect-logo.png">
        </div>
        <h3>Log in to your account</h3>
  
        <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-12" [ngClass]="{
                    'has-danger': employeeId.invalid && (employeeId.dirty || employeeId.touched),
                    'has-success': employeeId.valid && (employeeId.dirty || employeeId.touched)
                      }">
              <label>EMPLOYEE ID
                <span class="danger">*</span>
              </label>
              <input type="text" class="form-control" placeholder="Employee Id" formControlName="employeeId" required>
              
              <div class="form-control-feedback" *ngIf="employeeId.errors && (employeeId.dirty || employeeId.touched)">
                <p *ngIf="employeeId.errors.required">Employee Id is required</p>
              </div>
  
              <!--
                      <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
                      <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
                       -->
            </div>
  
            <div class="form-group col-12" [ngClass]="{
                 'has-danger': password.invalid && (password.dirty || password.touched),
                 'has-success': password.valid && (password.dirty || password.touched)
            }">
              <label>PASSWORD
                <span class="danger">*</span>
              </label>
              <input type="password" class="form-control" placeholder="******" formControlName="password" required>
              <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is required</p>
              </div>
              <span class="login-error">{{errorMsgTxt}}</span>
  
              <!-- <pre>Valid? {{ myform.controls.email.valid }}</pre>
               <pre>Dirty? {{ myform.controls.email.dirty }}</pre> -->
  
            </div>
  
            <div class="text-right form-group col-12">
              <a class="forgot-pass" data-toggle="modal" data-target="#forgotPass">Forgot Password ?</a>
            </div>
          </div>
          <div class="button-login-group">
            <button type="submit" class="btn btn-primary pull-left">Submit
            </button>&nbsp;&nbsp;
            <div class="load-image pull-left" [ngClass]="{true:'show', false:'hide'}[myLoader]"></div>
            <!-- deviceid:{{deviceId}} -->
          </div>
  
          <!-- <pre>{{myform.value | json}}</pre> -->
        </form>
        <div class="clearfix" [ngClass]="{true:'hide', false:'text-red text-center'}[lgin]">{{errMsg}}</div>
  
      </div>
      <p class="note">All content and design copyright © 2018 HGS Ltd.</p>
    </div>
  </section>
  
  <!-- Modal -->
  <!-- Modal -->
  <div id="forgotPass" class="modal fade customePop" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
          <p>Please use the same password that you use to login to MyHGS/ GIS portal in your geography... In case, you don't have one, please create a password in MyHGS/ GIS and reuse to login to HGS Connect.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>