<div class="internal-bg">


    <div class="container-fluid">
        <div class="row">
            
                <h2 class="main-title">HGS APPS</h2>
           
        </div>
        <div class="row">
            <div class="col-12">
                <div class="spacer-dash"></div>
            </div>
            <!-- <div class="col-6 odd-padd">
                <div class="dash-panel" (click)="loginModule('hgs-Connect')">
                    <img src="./assets/images/dash-icon/hgs-connect.png" class="img-fluid" alt="Hgs Connect" title="Hgs Connect" />
                    <h3>Coming Soon..</h3>
                </div>
            </div> -->
            <div class="col-6 even-padd">
                <div class="dash-panel" (click)="loginModule('tldc-comapss')">
                    <img src="./assets/images/dash-icon/tldc-comapss.png" class="img-fluid" alt="TLDC-comapss" title="TLDC-comapss" />
                    <h3>TLDC</h3>
                </div>
            </div>
            <!-- <div class="col-6 odd-padd">
                <div class="dash-panel" (click)="loginModule('ess-leave')">
                    <img src="./assets/images/dash-icon/ess-leave.png" class="img-fluid" alt="ESS-leave" title="ESS-leave" />
                    <h3>Coming Soon..</h3>
                </div>
            </div> -->
            <!-- <div class="col-6 even-padd disabled-app">
            <div class="dash-panel" (click)="loginModule('ess-personal')">
                <img src="./assets/images/dash-icon/ess-personal.png" class="img-fluid" alt="ESS-personal" title="ESS-personal" />
                <h3>ESS - Personal Info</h3>
            </div>
        </div>
        <div class="col-6 odd-padd disabled-app">
            <div class="dash-panel" (click)="loginModule('my-perfromance')">
                <img src="./assets/images/dash-icon/my-perfromance.png" class="img-fluid" alt="My-Perfromance" title="My-Perfromance" />
                <h3>My Performance</h3>
            </div>
        </div> -->
        </div>
    </div>

</div>