<div class="splash-screen-container">
        <div class="center-plashscreen">
            <div class="splash-screen-inner-container">
                <div class="text-center login-logo"><img class="img-responsive center-block" src="./assets/images/hgs-logo.png"></div>
                <h3 class="clearfix">TERMS AND CONDITIONS</h3>
                <div class="terms-condition">                        
                    <ol class="termsCon">
                        <br />
                        <li>The terms mentioned herein (together with the documents referred to on it) states the terms of
                            use (the
                            “Terms of Use”) on which you may make use of our
                            <strong>“TLD”</strong> application for mobile devices (the “App”). Please read these Terms of
                            Use carefully
                            before you download, install or use the App because all of the terms are important and together
                            create
                            a legal agreement that, once accepted by you, applies to you. Your download, installation or
                            use
                            of the App constitutes your acceptance of these Terms of Use which takes effect on the date on
                            which
                            you download, install or use the App. If you do not agree with these Terms of Use, you should
                            cease
                            downloading, installing or using the App immediately.
                        </li>
                        <li>The App is owned solely by Hinduja Global Solutions Limited and its affiliates, an Indian
                            company having
                            its registered office at Hinduja House, 171, Dr. Annie Besant Road, Worli, Mumbai 400 018 and
                            corporate
                            office at 1st Floor, Gold Hill Square Software Park, No. 690, Bommanahalli, Hosur Road,
                            Bangalore
                            560 068 (and we refer to ourselves as “Company”, “we”, “us” or “our”). The App is operated
                            under
                            the trademark TLD Compass.
                        </li>
                        <li>We reserve the right to change these Terms of Use at any time without notice to you by posting
                            changes
                            on the __________ or by updating the App to incorporate the new terms of use. You are
                            responsible
                            for regularly reviewing information posted online to obtain timely notice of such changes. Your
                            continued
                            use of the App after changes are posted constitutes your acceptance of the amended Terms of
                            Use.
                        </li>
                        <li>You affirm that you have the ability to enter into this Terms of Use. If you are under the age
                            of consent
                            in your jurisdiction to form a binding agreement, you affirm that you are either an emancipated
                            minor,
                            or possess legal parental or guardian consent, and are fully able and competent to enter into
                            the
                            terms, conditions, obligations, affirmations, representations, and warranties set forth in this
                            Terms
                            of Use, and to abide by and comply with this Terms of Use.
                        </li>
                        <li>Subscription to the Service. Subject to your compliance with these Terms of Use, and payment of
                            applicable
                            fees, we hereby grants you, and you accept, a worldwide, non-exclusive, non-transferable,
                            non-sublicensable,
                            and fully revocable right to access and use the App for your personal purposes only. Your
                            subscription
                            to the App is limited to the one (01) in number unless otherwise indicated under a valid
                            license
                            (e.g., volume license) granted by us. Notices. Any permitted copy of the App that you make must
                            contain
                            the same copyright and other proprietary notices that appear on or in the App. You shall comply
                            with
                            all applicable laws relating in any way to its performance of its obligations under these Terms
                            of
                            Use. You agree to comply fully with all applicable export laws and regulations in any
                            jurisdiction
                            to ensure that neither the App nor any technical data related thereto are exported or
                            re-exported
                            directly or indirectly in violation of, or used for any purposes prohibited by, such laws and
                            regulations.
                        </li>
                        <li>Restrictions. You shall not engage in the following when using the App.
                            <ol type="a">
                                <li>Activities that violate the law, court verdicts, resolutions or orders, or
                                    administrative measures
                                    that are legally binding</li>
                                <li>Modify, adapt or translate the App
                                </li>
                                <li>Reverse engineer, decompile, disassemble or otherwise attempt to discover the source
                                    code of
                                    the App except to the extent you may be expressly permitted under applicable law to
                                    decompile
                                    only in order to achieve interoperability with the App
                                </li>
                                <li>RENT, LEASE, SELL, SUBLICENSE, ASSIGN OR TRANSFER YOUR RIGHTS IN THE APP, OR AUTHORIZE
                                    ANY PORTION
                                    OF THE APP TO BE COPIED ONTO ANOTHER INDIVIDUAL OR LEGAL ENTITY’S COMPUTER/ MOBILE
                                </li>
    
                                Use or offer the App on a commercial basis.
                                <li>Activities that may hinder public order or customs.
                                <li>Activities that infringe intellectual property rights, such as copyrights, trademarks
                                    and
                                    patents, fame, privacy, and all other rights of the Company and/or a third party
                                    granted
                                    by the law or contract.</li>
                                <li>Activities that post or transmit violent or sexual expressions; expressions that lead
                                    to
                                    discrimination by race, national origin, creed, sex, social status, family origin,
                                    etc.;
                                    expressions that induce or encourage suicide, self-injury behavior, or drug abuse ;or
                                    anti-social expressions that include anti-social content and lead to the discomfort of
                                    others.</li>
                                <li>Activities that lead to the misrepresentation of the Company and/or a third party, or
                                    intentionally
                                    spread false information.</li>
                                <li>Activities deemed to be violation of these Terms of Use by the Company.</li>
                                <li>Activities that use the App for sales, marketing, advertisement, soliciting or other
                                    commercial
                                    purposes (except for those approved by the Company); or use the Service for purposes
                                    other than the App’s true intent.</li>
                                <li>Activities that benefit or collaborate with anti-social groups.</li>
                                <li>Activities that are related to religious activities or invitations to certain religious
                                    groups.</li>
                                <li>Activities that illegally or improperly lead to the collection, disclosure, or
                                    provision
                                    of other's personal information, registered information, user history, or the like.</li>
                                <li>Activities that interfere with the servers and/or network systems of the App; that
                                    abuse
                                    the App by means of BOTs, cheat tools, or other technical measures; that deliberately
                                    use defects of the App;, or that interfere with the Company's operation of the App or
                                    a users' use of the App.</li>
                                <li>Activities that aid or encourage any activity stated in Clauses hereinabove.</li>
                                <li>Other activities that are deemed by the Company to be inappropriate.</li>
                            </ol>
                        </li>
                        <li>
                            <b>Account</b>
    
                            <ol type="a">
                                <li>You represent and warrant that, when providing information about yourself to the
                                    Company,
                                    it shall provide genuine, accurate, and complete information while using the App, and
                                    keep such information up-to-date at all times.
                                </li>
                                <li>If you register a password while using the App, you shall exercise due care and
                                    responsibility
                                    in order for the password not to be used in an unlawful manner. The Company may treat
                                    all activities conducted with the password as activities that have been conducted by
                                    the holder of the password yourself.
                                </li>
                                <li>You may delete your account and withdraw from using the App, at any time.
                                </li>
                                <li> The Company may suspend or delete your account without giving prior notice to you if
                                    the
                                    Company believes that you are violating or have violated the Terms of Use.
                                </li>
                                <li>The Company reserves the right to delete any account that has been inactive for a
                                    period
                                    of a year or more since its last activation, without any prior notice to you.
                                </li>
                                <li>Your rights to use the App shall expire when your account has been deleted for any
                                    reason.
                                    The account cannot be retrieved even if you have accidentally deleted the account.
                                </li>
                                <li>Each account in the App is for the exclusive use and belongs solely to the owner of the
                                    account.
                                    You may not transfer or lend your accounts to any third party nor may their accounts
                                    be inherited by any third party.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <b> Ownership</b>
                            <ol type="a">
                                <li>All right, title and interest in and to the App and any documentation, including all
                                    enhancements
                                    and other modifications thereto made by the Company, and all copyrights, patents,
                                    trademarks,
                                    service marks and other intellectual property or proprietary rights relating thereto,
                                    are and shall remain exclusively with the Company. You acknowledge that no such right,
                                    title or interest in or to the App or the documentation, is granted under this Terms
                                    of Use and that no such assertion shall be made by you. You shall have only the rights
                                    to use the App as per these Terms of Use
                                </li>
                                <li>The Company is free to use your data/ reports generated upon using the App in any
                                    manner
                                    it deems fit. </li>
                                <li>The App may contain or be provided together with third party and/or open source
                                    software.
                                    Copyrights to the open source software are held by the respective copyright holders
                                    indicated
                                    therein. You are solely responsible for the compliance of such third party and/or open
                                    source software and the Company will not be liable directly or indirectly for any acts
                                    or omissions by you. The following open source software are included in the App:
                                </li>
    
                            </ol>
                        </li>
                        <li>
                            <b>Warranties and Liability</b>
                            <p>YOU ASSUME ALL RESPONSIBILITY AND RISK WITH RESPECT TO YOUR USE OF THE APP. THE APP IS
                                AVAILABLE
                                “AS IS,” AND “AS AVAILABLE”. YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED
                                BY LAW, WE DISCLAIM ALL WARRANTIES, REPRESENTATIONS AND ENDORSEMENTS, EXPRESS OR IMPLIED,
                                WITH REGARD TO THE APP, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE,
                                MERCHANTABILITY,
                                NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT USE OF THE APP
                                WILL
                                BE UNINTERRUPTED OR ERROR-FREE OR THAT ERRORS WILL BE DETECTED OR CORRECTED. WE DO NOT
                                ASSUME
                                ANY LIABILITY OR RESPONSIBILITY FOR ANY VIRUSES, BUGS, MALICIOUS CODE OR OTHER HARMFUL
                                COMPONENTS,
                                DELAYS, INACCURACIES, ERRORS OR OMISSIONS, OR THE ACCURACY, COMPLETENESS, RELIABILITY OR
                                USEFULNESS OF THE INFORMATION DISCLOSED OR ACCESSED THROUGH THE APP. WE HAVE NO DUTY TO
                                UPDATE
                                OR MODIFY THE APP AND WE ARE NOT LIABLE FOR OUR FAILURE TO DO SO. IN NO EVENT, UNDER NO
                                LEGAL
                                OR EQUITABLE THEORY (WHETHER TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE), SHALL WE OR
                                ANY OF OUR RESPECTIVE EMPLOYEES, DIRECTORS, OFFICERS, AGENTS OR AFFILIATES, BE LIABLE
                                HEREUNDER
                                OR OTHERWISE FOR ANY LOSS OR DAMAGE OF ANY KIND, DIRECT OR INDIRECT, IN CONNECTION WITH OR
                                ARISING FROM THE APP, THE USE OF THE APP OR OUR TERM OF USE WITH YOU CONCERNING THE APP,
                                INCLUDING, BUT NOT LIMITED TO, COMPENSATORY, DIRECT, CONSEQUENTIAL, INCIDENTAL, INDIRECT,
                                SPECIAL OR PUNITIVE DAMAGES, LOST ANTICIPATED PROFITS, LOSS OF GOODWILL, LOSS OF DATA,
                                BUSINESS
                                INTERRUPTION, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF WE HAVE BEEN
                                ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO
                                NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES,
                                SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IF ANY LIMITATION ON REMEDIES,
                                DAMAGES OR LIABILITY IS PROHIBITED OR RESTRICTED BY LAW, WE SHALL REMAIN ENTITLED TO THE
                                MAXIMUM DISCLAIMERS AND LIMITATIONS AVAILABLE UNDER THIS AGREEMENT, AT LAW AND/OR IN
                                EQUITY.
                            </p>
                        </li>
                        <li>
                            <b>Indemnity</b>
    
                            <p>You agree to indemnify and hold the Company and each of our affiliates, successors and
                                assigns,
                                and their respective officers, directors, employees, agents, representatives, licensors,
                                advertisers, suppliers, and operational service providers harmless from and against any and
                                all losses, expenses, damages, costs and expenses (including attorneys’ fees), resulting
                                from your use of the App and/or any violation of these Terms of Use.
                            </p>
                        </li>
                        <li>Privacy
    
                            <ol type="a">
                                <li>The Company places its highest priority on the privacy of its users.</li>
                                <li>The Company agrees to protect the privacy and personal information of its users in
                                    accordance
                                    with the HGS Privacy Policy.</li>
                            </ol>
                        </li>
                        <li>
                            <b>Governing Law and dispute resolution</b>
                            <p>This Terms of Use will be governed by and construed in accordance with the substantive laws
                                in
                                force in India. The commercial court of Bangalore, India shall have exclusive jurisdiction
                                over all disputes relating to this Terms of Use. This Terms of Use will not be governed by
                                the conflict of law rules of any jurisdiction or the United Nations Convention on Contracts
                                for the International Sale of Goods, the application of which is expressly excluded.
                            </p>
                        </li>
                        <li>
                            <b>Termination</b>
                            <ol type="a">
                                <li>We can each end this Terms of Use anytime we want. The Company may terminate this Term
                                    of
                                    Use or the use of the App at any time with notice to you. On termination, you lose the
                                    right to access or use the App.
                                </li>
                                <li>The following shall survive termination:
                                    <ul>
                                        <li>Our rights to use and disclose your feedback;</li>
                                        <li>The Company’s rights to further re-share content and information you shared
                                            through
                                            the App;</li>
                                        <li>Clauses 9 (Warranties and Liability), 10 (Indemnity), 12 (Governing Law and
                                            dispute
                                            resolution), and 13 (Termination) of this Terms of Use.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <b>Notification and Contact</b>
                            <p>If you have any questions about the foregoing Terms of Use, please contact us at
                                <a href="mailto:legal@teamhgs.com">legal@teamhgs.com</a> or at the registered office
                                attached drawing an attention to the Legal
                                Department.
                            </p>
                        </li>
                    </ol>
                </div>
                <div class=" clearfix">
                    <div class="checkbox splash-border" style="position: relative; z-index: 9999;">
                        <input type="checkbox" id="agree" (change)="agreeSelected($event)">
                        <label for="agree"> I AGREE</label>               
                    </div>
                </div>
                <div class="clearfix"></div>          
                <div class="text-center mar-bot15">
                    <button [disabled]="toggleBool" (click)="agreeChekOnce()" type="submit" class="btn btn-default red-btn" id="submitButton">GET STARTED</button>
                </div> 
            </div>
            <p class="note">All content and design copyright © 2017 HGS Ltd.</p>
        </div>
    </div>

