<div class="splash-screen-container">
        <div class="center-plashscreen">
            <div class="splash-screen-inner-container otp-container">
                <!-- <div class="text-center login-logo"><img class="img-responsive center-block" src="./assets/images/hgs-logo.png"></div> -->
                <h3 class="clearfix text-center">Validate OTP</h3>
                      

                <div *ngIf="loginOTPform">
                <form novalidate [formGroup]="myform" (ngSubmit)="validateOTP()">
                    <div class="form-group" [ngClass]="{
                        'has-danger': otpNumber.invalid && (otpNumber.dirty || otpNumber.touched),
                        'has-success': otpNumber.valid && (otpNumber.dirty || otpNumber.touched)
                          }">               

                        <input type="text" class="form-control" placeholder="Enter 6 digit OTP" formControlName="otpNumber" required>

                        <span *ngIf="wrongOtp" class="form-control-feedback">{{errMsg2}}</span>

                        <!-- <div class="form-control-feedback" *ngIf="otpNumber.errors && (otpNumber.dirty || otpNumber.touched)">
                        <p *ngIf="otpNumber.errors.required">OTP number is required</p>
                        
                        </div> -->

                    </div>      
                    <div class="otp-txt">
                        <div class="text-white text-left">{{msgtoenterotp}}</div>
                    </div>
                    <div class="clearfix">
                        <br />
                    </div>          
                    <div class="text-center mar-bot15">
                        <button type="submit" class="btn btn-default red-btn">Verify</button>    
                    </div> 
                </form>
            </div>

            <!-- Email id is not present -->
            <div *ngIf="emailIDcheck">
                <div class="otp-error alert alert-danger">{{errMsg}} </div>               
                <button (click)="gotoLogin()" type="submit" class="btn btn-default red-btn">Back to Login</button>
            </div>
            <!-- //Email id is not present -->


            <p class="note">All content and design copyright © 2018 HGS Ltd.</p>
        </div>
    </div>

