body{background:#efefef; margin: 0; min-height: 100%; }

/* header */
.header{background:#458dcb;}
.logo{padding: 10px 0px; text-align: center}
.logo img{margin:0 auto}
.menu-toggler{position: absolute; left:15px; top: 12px; padding:0; margin:0; float:none; border:0px; display: block}
/* header */

/* footer */
.footer{position: fixed; right: 0; bottom: 0; left: 0; z-index: 999;}
.bgBlue{background:#3e9ef0} 
.darkpinkBlue{background:#a92c7e}
.footer a{color:#fff; font-size: 16px; text-decoration: none;}
.footer-border{border-right:1px solid #fff;}
.footer-shoppe, .footer-newsletter{padding: 10px 0; text-align: center}
.footer .row { display: flex; }
/* footer */

.sidenav{height:100%; width:0; position:fixed; z-index:99999; top:0; left:-400px; background-color:#fff; transition:0.5s;}

.sidenav .sidenav-head{position:relative; min-height:56px; padding:10px 15px; margin-bottom: 10px; display: flex; align-items:center;}
.sidenav .sidenav-head .head-img{width: 60px; height: 60px; float: left; border-radius: 250px;}
.sidenav .sidenav-head .head-img img{width: 60px; height: 60px; border-radius: 250px;}
.sidenav .sidenav-head .sidenav-title{ display:inline-block; padding-left:20px; vertical-align:middle; padding: 10px 0 0 15px}
.sidenav .sidenav-head .sidenav-title h3{font-size: 2.2rem; margin:0px; color: #1d1d26; margin-bottom: 5px}
.sidenav .sidenav-head .sidenav-title h4{font-size:1.3rem; margin:0px;color: #1d1d26 }
.sidenav .sidenav-head .closebtn{position: absolute; top:5px; right:-14px;
    text-align: center;
    display:block;
    width:28px;
    height:28px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:14px;
    font-weight:bold;}

.sidenav ul{margin:5px 0 0 0; padding:0; width:100%}
.sidenav .sidenav-item{position:relative; list-style:none;}
.sidenav .sidenav-item a{padding:16px 16px 16px 67px; text-decoration:none; color:#1d1d26; display:block; transition:0.3s; font-size:1.4rem}
.sidenav .sidenav-item a:hover{color:#458dcb;}
.sidenav .sidenav-item .count{float:right}
.sidenav .sidenav-item:before{display:block; width:30px; height:30px; content:''; position:absolute; margin:10px 0 0 15px; top:0; left:0; background-size: cover}
.sidenav .sidenav-item.home:before{background-image:url(../images/menu-icons/home-icon.png); }
.sidenav .sidenav-item.about:before{background-image:url(../images/menu-icons/aboutHGS-icon.png);}
.sidenav .sidenav-item.spotlight:before{background-image:url(../images/menu-icons/spotlight-icon.png);}
.sidenav .sidenav-item.photogallery:before{background-image:url(../images/menu-icons/photogallery-icon.png);}
.sidenav .sidenav-item.people:before{background-image:url(../images/menu-icons/peopleserach-icon.png);}
.sidenav .sidenav-item.hgsmedia:before{background-image:url(../images/menu-icons/hgsMedia-icon.png);}
.sidenav .sidenav-item.birthday:before{background-image:url(../images/menu-icons/birthday-icon.png);}
.sidenav .sidenav-item.setting:before{background-image:url(../images/menu-icons/setting-icon.png);}
.sidenav .sidenav-item.logout:before{background-image:url(../images/menu-icons/logout-icon.png);}
.sidenav .sidenav-item.business:before{background-image:url(../images/menu-icons/business-icon.png);}
.sidenav .sidenav-item.happening:before{background-image:url(../images/menu-icons/happening-icon.png);}
.sidenav .sidenav-item.leaderSpeak:before{background-image:url(../images/menu-icons/leader-speak-icon.png);}
.sidenav .sidenav-item.funzone:before{background-image:url(../images/menu-icons/funzone-icon.png);}


.sidenav .divider{background:url(../images/menu-divider.png) no-repeat center; height:8px;  }
.owl-theme .owl-nav.disabled+.owl-dots{position: absolute; bottom: 8px; right: 0}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.card-info{vertical-align: baseline}

.flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap:wrap; */
}


.d-child {
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/2) - 10px - 1px);       
}

.flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.align-item{align-items: center;}


.padding15{padding:0px 15px;}
.padding-right7{padding-right: 7.5px}
.padding-left7{padding-left: 7.5px}
.padding0{padding:0px;}
.mar-bot10{margin-bottom: 10px !important}
.mar-bot15{margin-bottom: 15px !important}
.mar-bot20{margin-bottom: 20px !important}
.mar-top10{margin-top: 10px !important}
.mar-top15{margin-top: 15px !important}
.mar-top-bottom10{margin-top: 10px !important; margin-bottom: 10px !important}
.blue-color{color: #458dcb;}
.blue-button{background:#458dcb; font-weight: bold; color: #fff;}
.blue-button:hover{color: #fff; background:#3973a4}
.green-button{background:#9bcb3f; font-weight: bold; color: #fff;}
.green-button:hover{color: #fff; background:#7ea533}

.red-btn{background:#e74d3d; width: 100%; color: #fff; border-color:#e74d3d}
.red-btn{background:#e74d3d; width: 100%; color: #fff; border-color:#e74d3d}

.border-left{border-left:1px solid #dadbdb;}
.border-right{border-right:1px solid #dadbdb;}
.blue-bg{background:#388ed7}
.red-bg{background:#f45c48}
.orange-bg{background:#f98c08}
.green-bg{background:#93cb29}

.card-info{padding:15px 0 10px 0;}
.blue-heading{color: #115590; font-size: 1.4rem; margin:0px; font-weight: bold;float: left; text-transform: uppercase; }
.read-more{white-space: nowrap; font-size: 12px; color: #858585; text-decoration:none; float: right}
.read-more:hover{ color: #858585;}
.bottom-txt{color: #515151; font-size: 1.5rem;}

.funzone-container{background:#ffef78;}
.fun-carousel-outer{position: relative; width: 100%; overflow: hidden; padding:20px 10px}
.fun-carousel-inner{position: relative; width: 130%}

.fun-image{background:#f1dd44; display: block;}
.fun-image img{width:100%}

.white-card{background:#fff; padding: 15px; border-bottom: 1px solid #dadbdb;}
.white-card h3{color: #458dcb; font-size:1.8rem; font-weight: 700;}
.white-list{list-style: none; margin:0px; padding: 0px}
.white-list li{background:#fff; padding: 10px; margin-bottom: 10px; clear: both; width: 100%;display: flex; align-items: center; }
.white-list li a{display: flex; align-items: center; position: relative; text-decoration: none;}
.news-media{background:url(../images/news-media.png) no-repeat center; height:50px; min-width:66px; padding: 10px; border-right:1px solid #d1d1d1; margin-right:10px}

.media-list li h3{color: #515151; font-size: 1.3rem; margin:0px 0 8px 0;}
.media-list li h4{color: #f79621; font-size: 1.2rem; margin:0px 0 5px 0;}

.media-list-detail h3{color: #515151; font-size: 1.8rem; margin:0px 0 5px 0;}
.media-list-detail h4{color: #f79621; font-size: 1.4rem; margin:0px;}

.poll-section { margin-top:15px; margin-bottom:20px;}
.poll-section h4{font-size: 14px;}

.custome-radio {margin:0px; padding:0px;}
.custome-radio .radio-list { position: relative; display: inline-block; margin-right: 10px}
.custome-radio .radio-list:hover label { color: #f79621;}
.custome-radio .radio-list:hover .label::before { border: 1px solid #a0a0a0; }  
.custome-radio .radio-btn { position: absolute; visibility: hidden;  }
.custome-radio .radio-btn:checked ~ .label { color: #f79621; position: relative }
.custome-radio .radio-btn:checked ~ .label::before { border: 1px solid #a0a0a0; background: #fff;}  
.custome-radio .radio-btn:checked ~ .label::after{ background: #f79621; display: block; content: '';
    height:10px;  width: 10px; position: absolute; border-radius: 250px;left: 4px; top: 4px; }  
.custome-radio .label { display: flex; align-items: center;  padding: 5px; color: #a0a0a0; font-size:16px;
    font-weight: 300;  cursor: pointer; transition: all 0.25s linear; padding:0px; position: relative; }  
.custome-radio .label::before {display: block; content: ''; border: 1px solid #a0a0a0; border-radius: 50%;
    height: 18px; width: 18px; margin-right: 10px; transition: all .1s linear;}

.about-us-page .card{background:#fff; margin-bottom:25px;}
.about-us-page .about-icon{margin:20px auto; width: 70%}
.about-us-page h3{color: #fff; padding:15px 0; text-align: center; font-size: 1.6rem; margin:0px;}

.guess-who .radio{text-align:center; margin:0px auto 10px auto; padding:10px 0; width:100%;  }
.guess-who .radio label{font-size:14px; margin:0 10px 5px 5px; padding:0px;}
.guess-who .btn{margin-bottom:0px; margin-top:0px;}

.radio input[type=radio]:not(old) + label{display:inline-block;margin-left:.0em;line-height:1.5em;}
.radio input[type=radio]:not(old){width:2em;margin:0;padding:0;font-size:1em;opacity:0;}
.radio input[type=radio]:not(old) + label > span{display:inline-block;width:1.2em;height:1.2em;margin:0.25em 0.5em 0.25em 0.25em;vertical-align:bottom;border-radius:1.125em; border:1px solid #cecece;background:#fff;}
.radio input[type=radio]:not(old):checked + label > span{background:#fff}
.radio input[type=radio]:not(old):checked +  label > span > span{display:block;width:0.7em;height:0.7em;margin:0.2em;border-radius:2em;background:#8dc125;-moz-border-radius:2em;-webkit-border-radius:2em}


.login-center{min-height:430px; display: table-cell;  vertical-align: middle; padding: 0 30px;}
.login-page{background:url('../images/login-page-bg.jpg') no-repeat; min-height: 100%; position: absolute; width: 100%; background-size: cover; bottom: 0px;  display: table}
.login-div{background:#115590; padding:20px 30px; width:100%; min-height:430px; color: #fff; margin-top:20px;}
.login-div label{font-size: 12px; font-weight: normal;}
.login-logo{margin:20px auto; width: 70%; }
.forgot-pass{font-size: 1.2rem; color: #fff; text-decoration: underline;}
.forgot-pass:hover, .forgot-pass:active{color: #fff; }
.login-div h3{border-bottom: 1px solid #29669b; padding:15px 10px; font-size: 1.3rem; text-align: center; margin-bottom: 10px;}
.login-page p.note{color: #fff; text-align: center; margin:15px 0; font-size: 1rem}

.customePop .modal-header{background: #fc0303; color: #fff; border-radius:5px;}
.customePop .close{color: #fff; opacity: 0.8; margin-top: 2px;}
.customePop p{color: #fd403a; font-size: 16px;}

.modal-title{font-size: 2rem;}
.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }


.custome-radio {margin:0px; padding:0px;}
.custome-radio .radio-list { position: relative; display: inline-block; margin-right: 10px}
.custome-radio .radio-list:hover label { color: #f79621;}
.custome-radio .radio-list:hover .label::before { border: 1px solid #a0a0a0; }  
.custome-radio .radio-btn { position: absolute; visibility: hidden;  }
.custome-radio .radio-btn:checked ~ .label { color: #f79621; position: relative }
.custome-radio .radio-btn:checked ~ .label::before { border: 1px solid #a0a0a0; background: #fff;}  
.custome-radio .radio-btn:checked ~ .label::after{ background: #f79621; display: block; content: '';
    height:10px;  width: 10px; position: absolute; border-radius: 250px;left: 4px; top: 4px; }  
.custome-radio .label { display: flex; align-items: center;  padding: 5px; color: #a0a0a0; font-size:16px;
    font-weight: 300;  cursor: pointer; transition: all 0.25s linear; padding:0px; position: relative; }  
.custome-radio .label::before {display: block; content: ''; border: 1px solid #a0a0a0; border-radius: 50%;
    height: 18px; width: 18px; margin-right: 10px; transition: all .1s linear;}

/* .about-us-page .card{background:#fff; margin-top:25px;} */
.about-us-page .about-icon{margin:20px auto; width: 70%}
.about-us-page h3{color: #fff; padding:15px 0; text-align: center; font-size: 1.6rem; margin:0px;}

.people-header{font-size:20px;color:#115590;text-align:center;margin:20px 0 0px;font-weight:bold}
.people-search { margin: 0px 0 15px 0;  }
.people-search .input-group {border-radius:5px;-webkit-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.3);-moz-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.3); box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3); }
.people-search, .birthday-search { position: relative; }
.people-search input {border-radius: 5px;height: 45px; border: 0;box-shadow: none;text-transform:normal; }
.people-search button {height:45px;border:0}
.clearer { position: absolute; top: 50%; right: 10px; font-size: 14px; color: #a3a3a2; transform: translateY(-50%); }
.people-search button:hover, .people-search button:focus, .people-search button:active {background:#fff;box-shadow:none}
.people-search button i{font-size:20px}
.people-list-container {padding:15px;border-radius:5px;background: #fff}
.people-list-container > ul{list-style-type:none;padding:0 15px;margin:0}
.people-list-container > ul > li {padding:10px 0;border-top:1px solid #ececec;display:flex;align-items:center; }
.people-list-container > ul > li:first-child, .imp-details ul li:first-child{border-top: 0}
.people-details > h2, .media .people-body > h5 {font-size:18px;color:#515151;margin: 0}
.people-details > p, .media .people-body > p {font-size:12px;color:#f79621;margin: 0}
.people-details > span {font-size:14px;color:#3e9ef0;display:block}
.people-details-head{padding:20px;background:#fff;margin:20px 0 0 0}
.media .people-img{ width:25%}
.media .people-body{ width:60%;padding:0 10px;}
.media .people-body > h5{padding-top:5px;vertical-align:baseline; }
.media .people-body p{padding-right:15px}
.media .people-body .link-icn{position:absolute;right:5px;top:10px;margin-left:15px}
.media .people-body .link-icn img{width:80%}
.imp-details{padding:15px 0;background:#fff;margin:20px 0 0 0}
.imp-details ul {list-style-type:none; padding:0;margin:0;}
.imp-details ul li{padding:10px 25px;border-top:1px solid #ececec;}
.imp-details ul li h3{color:#acacaf;font-size:1.30rem;margin: 0;line-height:26px}
.imp-details ul li p{font-size:1.50rem;margin:0;color:#515151}
.longDescription{overflow: auto; word-break:break-word;}
.longDescription table td{border:1px solid #ddd; border-collapse: collapse; padding:5px;}
.longDescription h1{ font-size: 24px;}
.longDescription h2{ font-size: 20px;}
.longDescription .media{display: inline;}
.longDescription img{height: auto !important;}



/* Photo Gallery Page */
.gallery-list-container .row { 
    display: block;
      }
.gallery-box{
    background: #ffffff;
    margin: 15px 0 0;
    /* min-height: 180px; */
    height: auto;
    flex: 1;
    -webkit-flex: 1;      
    -ms-flex: 1;  
    -webkit-box-flex: 1;  
  -moz-box-flex: 1;  
}
.leaderSpeakList .gallery-box { height: 95%; }
.gallery-box p{
    padding: 10px 12px;
    color: #515151;
    font-size: 1.4rem;
    width: 140px;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}
.ph-gallery h1{ 
    color: #115590;
    font-weight: 600;
    font-size: 2.2rem;
}

.sp-select select{
    padding:10px 15px;
    margin:0; 
    text-transform: uppercase;
    width: 100%;
    font-size:14px; 
    color: #515151; 
    border-radius:0px; 
    border: none; 
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}
.sp-select select.custom-select{ 
    background: #ffffff url(../images/down-arrow-new.png) no-repeat right 1.5rem center; 
    z-index: 999; 
}
.sp-select select::-ms-expand {display: none;}
.photogallery .col-xs-6:nth-child(even)
{
    padding-left:7.5px;
}
.photogallery .col-xs-6:nth-child(odd)
{
    padding-right: 7.5px;
}
/* Photo Gallery Page End */
@media screen and (max-width: 568px) {    
    .sp-select select{font-size: 12px}
}

/* Who are you Page */
.history{
    background: #ffffff;
    margin: 15px;
    padding: 15px;
}

.hd-history{
    margin-top: 5px;
}
.redus-pad{ padding: 0;}
.hd-history h1{
            color: #ffffff;
            margin: 0;
            padding: 20px 0;
            background: #458dcb;
            font-size: 1.4rem;
            font-weight: 600;
}
.history h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #3e9ef0;
    font-weight: 600;
    margin: 5px 0 10px 0;
}
.history p{   
    font-size: 1.2rem;
    color: #747373;
    margin-bottom: 10px;
}
.youtube p{
    color: #515151;
    font-size: 1.4rem;
}
/* Who are you Page End */

.go-back-container{background: #215685;}
.go-back-container h2{color:#fff; font-size: 1.6rem; margin:0px; padding: 15px 10px; text-transform: uppercase;}
.go-back {position: absolute; background: url(../images/left-arrow.png) no-repeat center;
    width:30px; height: 30px;  top:8px; left:10px; margin: 0;padding: 0;}

.common-header {text-transform: uppercase; font-size: 20px; color: #115590; text-align: center; margin:15px 0 15px 0; font-weight: bold; }
.common-header h2{color: #115590; text-align: center; padding:15px; font-size: 1.8rem; font-weight: bold; margin:0px; text-transform: uppercase;}

.tab-common{display: flex;}
.tab-common li{ flex: 1;}
.tab-common li a{color:#515151;padding:15px 5px; background:#fff; border-top:0px; border-left:0px; border-right:0px; margin:0px; border-radius: 0px; font-size: 1.1rem; border-bottom:3px solid #fff; text-align: center}
.tab-common li.active a{border-bottom:3px solid #458dcb !important; border-top:0px; border-left:0px; border-right:0px;}
.tab-common li.active a:hover, .tab-common li.active a:active{border-bottom:3px solid #458dcb !important; border-top:0px; border-left:0px; border-right:0px;}
.list-container{background: #fff; border-radius:5px; padding:0 10px}
.list-container .list-box{padding:0px; display: flex; align-items:center}
.list-container ul{list-style: none; margin:0px; padding:0px;}
.list-container ul li{border-bottom: 1px solid #e5e5e5; padding:10px 0; margin:0px}
.list-container ul li:last-child{border-bottom:0px;}
.list-container ul li .round-img{border:1px solid #e0dede; border-radius: 250px; width: 70px; height: 70px; margin-right: 15px}
.list-container ul li .round-img img{border-radius: 250px; width: 70px; height: 70px; }
.list-data{display: inline-block; vertical-align: middle; width: 70%;}
.list-data h2{color: #515151; font-size: 1.8rem; margin:10px 0 5px 0;}
.list-data h3{color: #f79621; font-size: 1.3rem;  margin:0px;}
.subheader{color: #0391fc; padding:15px 0 10px 0; margin:0px; font-weight: bold;}


.video-gallery {padding:0px}
.video-gallery ul li{padding:0px;}
.video-gallery ul li h2{padding:0 10px; font-size: 1.6rem; color:#515151;}
.video-gallery ul li p{padding:0 10px;font-size: 1.4rem; color:#f79621;}
.video-gallery .list-inline{margin:0px; padding:0px; list-style: none;}

.fa-star-default { color: #fc9b2a;}

.video-gallery-details{padding:0px; border-radius:5px; margin-bottom: 15px; margin-top:15px;}
.video-gallery-details .video-content{padding:0 15px;}

.video-gallery-details h2{padding:0; font-size: 1.6rem; color:#515151;}
.video-gallery-details p{padding:0;font-size: 1.4rem; color:#f79621;}
.video-gallery-details .activity{list-style: none; margin:0px; padding: 0px}
.video-gallery-details .activity li{display: inline-block; border:0px; padding: 0px; margin-right: 10px;}
.video-gallery-details .rating-text, .video-gallery-details .comment-txt{font-size: 12px; display: inline-block; padding: 0 5px;}
.video-gallery-details hr{margin-top:10px; margin-bottom:10px;}
.video-gallery-details .comments-head{color:#515151; font-size: 16px; margin-bottom:5px; font-weight: bold;}
.video-gallery-details .comments-sub-head .fa{color: #0391fc; margin-bottom: 10px;}
.video-gallery-details  textarea{background:#ededed; border:0px;}
.video-gallery-details .posted{padding:10px 0; border-bottom:1px solid #ececec}
.video-gallery-details .posted:last-child{border:none;}
.video-gallery-details .posted .round-img{border:1px solid #f7f7f7; border-radius: 250px; width: 70px; height: 70px; float: left; margin-right: 15px}
.video-gallery-details .posted .round-img img{border-radius: 250px; width: 70px; height: 70px; }
.video-gallery-details .posted h2{font-size: 1.3rem}
.video-gallery-details .posted h2 span{color:#ed8918; font-weight: bold;}
.video-gallery-details .posted p{font-size: 12px; color:#515151}

.form-control-feedback{position: static; width: 100%; text-align: left; color: #fd8b48; }

.wd100{width:100% !important;}


.white-card img{max-width: 100%; display: block; margin:0 auto}

.comment-section .activity{list-style: none; margin:0px; padding: 0px}
.comment-section .activity li{display: inline-block; border:0px; padding: 0px; margin-right: 10px;}
.comment-section.rating-text, .comment-section .comment-txt{font-size: 12px; display: inline-block; padding: 0 5px;}
.comment-section hr{margin-top:10px; margin-bottom:10px;}
.comment-section .comments-head{color:#515151; font-size: 16px; margin-bottom:5px; font-weight: bold;}
.comment-section .comments-sub-head .fa{color: #0391fc; margin-bottom: 10px;}
.comment-section  textarea{background:#ededed; border:0px;}
.comment-section .posted{padding:10px 0; border-bottom:1px solid #ececec; display: flex;}
.comment-section .posted:last-child{border:none;}
.comment-section .posted .round-img{border:1px solid #f7f7f7; border-radius: 250px; width: 70px; height: 70px; float: left; margin-right: 15px}
.comment-section .posted .round-img img{border-radius: 250px; width: 70px; height: 70px; }
.comment-section .posted h2{font-size: 1.3rem}
.comment-section .posted h2 span{color:#ed8918; font-weight: bold;}
.comment-section .posted p{font-size: 12px; color:#515151}

.about-us-page .row { display: flex; flex-wrap: wrap; }
.photogallery { display: block; }
.link-icn { width: 20%; }
.media { display: flex; align-items: center; }

.errorMessage{font-size: 12px; color: red; padding: 5px}
.sucessMessage{font-size: 12px; color: #7ea533; padding: 5px}

.fun-zone-details { margin: 15px 0 0; }

.showDiv{display:block;}
.hideDiv{display: none;}
.custome-column .wd100 { margin-bottom: 20px; }
.owl-carousel.owl-drag .owl-item{position: relative}
.owl-carousel.owl-drag .owl-item h2{position: absolute; padding:8px 5px 5px 5px; margin:0; color: #fff; font-size: 12px; bottom: 10px; text-align: left; text-transform: uppercase; font-weight:0; width: 100%;}
.owl-carousel.owl-drag .owl-item h2 a.funlink{display: block; float:right; color:#fff; font-weight: normal; position: relative; text-transform: none; padding-right: 7px; }
/* .owl-carousel.owl-drag .owl-item h2 a.funlink{ display: inline-block; position: relative; right: 0; top:0; padding: 7px; float: right; background: rgba(0,0,0,0.5); border-radius: 50%; } */
.owl-carousel.owl-drag .owl-item h2 a.funlink::after { position: absolute; top: 4px; right: 2px; content: ""; border: 1px solid #fff; transform: rotate(45deg); width: 5px; height: 5px; border-left: 0; border-bottom: 0; }
.first { background: #555657; }
.second { background: #157CA8; }
.third { background: #51BC5D; }
.four { background: #4072D1; }
.five { background: #E2AF36; }
.six { background: #9649BB; }
.login-error{color:#fd8b48}

.common-container ul { list-style-type: none; padding: 0 15px; margin: 0; }
.common-container > ul > li { border-radius: 5px; background: #fff; padding: 10px 15px; margin-bottom: 10px; }
.common-container > ul > li a{display: flex; align-items: center; text-decoration:none; position: relative; }
.pdf-icon{ color: red; position: absolute; left: -11px;  top: -6px; border-radius: 250px; border: 1px solid #e74d3d; width: 24px; height: 24px; line-height: 23px; text-align: center; font-size: 12px;}
.pdf-icon .fa{background: #ececec}
.common-container .list-details{display: inline-block; flex-grow: 1; }
.common-container .list-details > h2 { font-size: 13px; color: #515151; font-weight: bold; 
    word-break: break-word; margin:0 0 5px 0; line-height: 16px;}
.common-container .list-details > p { font-size: 12px; color: #f79621; margin-bottom:5px; }
.common-container .list-img{width:70px; height: 70px;  margin-right: 10px;}
.common-container .list-img img{width: 70px; height: 70px; border-radius:250px }
/* .errorMsg { position: fixed; width: 100%; background: #000; left: 0; bottom: -30px; padding: 5px; transition: all 0.1s ease-in; text-align: center; }
.errorMsg.active { transform: translateY(-10px); } */
.container-fluid{position: relative}

.load-overlay{background: rgba(0,0,0,0.8); position: absolute; width: 100%; height: 100%; top:0; bottom:0; left:0; z-index: 99}
.load-image{background:url('../images/loader.gif'); width:84px; height: 16px;  margin:10px auto 0px auto;}
.load-text{ width:100%; color:#999; text-align: center; margin:0 0 10px 0}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    overflow: hidden;
    position: relative;
}

.img-container img {
    margin: auto;
}

.image-effect{-webkit-filter: blur(5px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    position: absolute; 
    transform: scale(2)
}
.img-original{position: absolute; z-index: 99}
.pollAlert{text-align:center; padding:2px; margin-bottom:5px; color:#a94442;}
.guess-who-button{text-align: center; padding: 10px 0 0 0; border-top:1px solid #e0e0df;}
.whoesAns{text-align: center; margin-top: 15px; display:none;}
.homeLogo{position: absolute; right:8px; top:8px;}
.readMoreNews{white-space: nowrap;}
.readMoreNews .btn{padding:4px;}
.readMoreNews a.readNews{color:#8dc125; font-size: 13px; font-weight: bold; display: block;}
.readMoreNews .glyphicon{ font-size:9px;}
.readMoreNews .pdf-File{color: red; cursor: pointer; display: block; margin:6px 0; font-size: 12px;} 


.button-login-group{position: relative}
.button-login-group .load-image{margin: 9px 0 0 -28px; position: absolute; top: 0;left: 50%;}
.longDesImg{margin-bottom:10px;}
.owl-theme .owl-dots .owl-dot span{margin-left:0px;}
.login-div-direct{padding-top:100px;}



@media screen and (max-width: 767px) and (orientation: portrait) {   
    .people-details > h2 {font-size:1.80rem; }
    .people-details > p, .bithday-details > span {font-size:1.3rem}
}

@media (min-width: 600px) {
    .login-div{margin:15px auto 0 auto; width: 320px;}
}

@media (max-width: 767px) {
    .border-left{border-left:0px;}
    .funzone-container{margin-bottom: 10px;}  
}


@media (max-width: 400px) {
   .footer-shoppe img, .footer-newsletter img{width: 30px;}
   .custome-column .col-xs-6{width: 100%}
   .border-right{border-left:0px;}
   .owl-carousel.owl-drag .owl-item h2{font-size: 10px;}
   
  
}


@media screen and (max-height: 568px) {
    .list-scroll{height:420px; overflow: auto}
}

@media screen and (max-height: 480px) {
    .list-scroll{height:340px; overflow: auto}
}