
.p-l-7{padding-left: 7.5px;}
.p-r-7{padding-right: 7.5px;}
.p-l-25{padding-left:25px;}
.p-r-25{padding-right:25px;}
.p-lr-0{padding-left: 0px; padding-right: 0px;}
.odd-padd{padding-left:20px; padding-right: 10px;}
.even-padd{padding-left:10px; padding-right: 20px;}
.add-bottom {margin-bottom: 15px!important; }
.btn-orange {color: #fff; background-color: #f2755f;}
.text-red{color:#f2755f; clear:both;}


.login-center{min-height:430px; display: table-cell;  vertical-align: middle; padding: 0 30px;}
.login-page{background:url('../images/login-page-bg.jpg') no-repeat; min-height: 100%; position: absolute; width: 100%; background-size: cover; bottom: 0px;  display: table}
.login-div{background:#115590; padding:20px 30px; width:100%; min-height:430px; color: #fff; margin-top:20px;}
.login-div label{font-size: 12px; font-weight: normal;}
.login-logo{margin:20px auto; width: 70%; }
.forgot-pass{font-size: 1.2rem; color: #fff; text-decoration: underline;}
.forgot-pass:hover, .forgot-pass:active{color: #fff; }
.login-div h3{border-bottom: 1px solid #29669b; padding:15px 10px; font-size:12px; text-align: center; margin-bottom: 10px;}
.login-page p.note{color: #fff; text-align: center; margin:15px 0; font-size: 1rem}
.text-right { text-align: right;}
.forgot-pass { font-size: 12px; color: #fff;  text-decoration: underline;  text-align: right}
.login-page p.note { color: #fff;  text-align: center;  margin: 15px 0;  font-size: 11px;}
.login-page .form-control{height: 34px;;}

.login-page .btn-primary{background:#ee4e40; color:#fff; border-color: #ee4e40; width: 100%;}

.customePop .modal-header{background: #fc0303; color: #fff; border-radius:5px;}
.customePop .close{color: #fff; opacity: 0.8; margin-top: 2px; position: absolute; right: 14px;  top: 0px; }
.customePop p{color: #fd403a; font-size: 16px;}
.customePop .close { color: #fff; opacity: 0.8; margin-top: 2px;}

.customePop  .btn-default {  color: #333;  background-color: #fff;  border-color: #ccc;}
.close {float: right; font-size: 21px;  font-weight: 700;    line-height: 1;}
.modal-title{font-size:20px;}
.modal { text-align: center;  padding: 0!important; }  
.modal:before {content: '';   display: inline-block;  height: 100%; vertical-align: middle;  margin-right: -4px; }  
.modal-dialog {display: inline-block;  text-align: left; vertical-align: middle;}
.form-control-feedback {  display: block;  height: 34px; line-height: 34px;  pointer-events: none; position: static;
    width: 100%;  text-align: left; color: #fd8b48;  font-size: 14px;}
.splash-screen-container { background: url("../images/login-page-bg.jpg") left top; background-size: cover; height: 100vh; position: absolute; top: 0px; bottom: 0px; width: 100%; display: table; }
.splash-screen-inner-container { background: #115590; padding:20px 20px; border-radius: 5px; width:100%; z-index: 0;  margin-top:10px;}

.terms-condition { max-height: 200px; overflow: auto;  margin-bottom: 20px; padding-right: 10px; }
.splash-screen-inner-container > h3 { font-size:16px; color: #fff; text-transform: uppercase; margin-bottom:10px; }
.splash-screen-container .terms-condition > p { font-size:12px; color: #b5cbff;  }
.splash-screen-container .splash-screen-inner-container{color: #fff;}
.splash-screen-container input[type="checkbox"] { display: none; }
.splash-screen-container input[type="checkbox"] + label { display: block; position: relative; padding-left: 30px; margin-bottom: 20px; font: 14px/20px 'Open Sans', Arial, sans-serif; color: #ddd; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.splash-screen-container input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.splash-screen-container input[type="checkbox"] + label:before { content: ''; display: block; width: 15px; height: 15px; border: 2px solid #fff; position: absolute; left: 5px; top: 2px; opacity: .6; -webkit-transition: all .12s, border-color .08s; transition: all .12s, border-color .08s; }
.splash-screen-container input[type="checkbox"]:checked + label:before { width: 10px; top: -2px; left: 5px; border-radius: 0; opacity: 1; border-top-color: transparent; border-left-color: transparent; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.splash-screen-container .splash-border{border-top:2px solid #3567a8; padding-top: 10px}
.splash-screen-container p.note{color: #fff; text-align: center; margin:15px 0; font-size: 11px}
.center-plashscreen{ min-height:430px; display: table-cell;  vertical-align: middle; padding: 0 20px;}

@media (min-width: 600px) {
    .splash-screen-inner-container {margin:15px auto 0 auto; width: 320px;}
}

.hgs-home-screen{width: 80%; color:#fff; margin:0 auto; padding:60px 0 30px 0}
.hgs-home-screen h3{text-transform: uppercase; font-weight:300;font-size: 34px; margin:15px 0 0 0}
.hgs-home-screen h4{text-transform: uppercase; font-weight:600; font-size: 34px;}
.hgs-home-screen h5{ font-weight:400; font-size:18px; margin:15px 0 40px 0}
.hgs-home-screen p{margin:15px 0 40px 0; font-size:16px;}
.hgs-home-screen .btn{background:url('../images/app-icon.png') 24px center  #fc8c14 no-repeat; color:#fff;padding:8px 40px 8px 60px; display: inline-block; font-size: 20px; }


/* Header */
header {background: #388dc8; padding: 5px; position: absolute; width: 100%; z-index: 9;}

/* Footer */
footer {color: #fff; font-size: 10px; position: absolute; bottom: 15px; left: 0; right: 0; }
footer .copyright {text-align: right; font-size: 10px; margin-top:10px; }

/* Splash */
.splash-scroll {overflow-x: hidden; overflow-y: auto; height: 190px; font-size: 12px;  text-align: justify}
.panel-splash .splash-logo{width: 200px; margin:50px auto 0 auto}
.panel-splash h5{font-size: 18px; margin:20px 0 10px 0; color:#213386;}
.panel-login hr {border-color: #365191; }

/* Dashboard */
.internal-bg{background:url(../images/internal-bg2.png) no-repeat;  background-size: cover;  min-height:100vh;
    position: relative; padding-top: 50px; }
.dash-panel{background: #fff; border-radius: 15px; padding:5px; text-align: center; margin-bottom: 20px; cursor: pointer;}
.dash-panel h3{color:#1d1d26; font-size:0.9rem; font-weight: 400; margin:5px 0}


/* Side Nav */
.sidenav{height:100%; width:0; position:fixed; z-index:99999; top:0; left:-400px; background-color:#fff; transition:0.5s;}
.sidenav .sidenav-head{position:relative; min-height:56px; padding:10px 15px; margin-bottom: 10px; display: flex; align-items:center;}
.sidenav .sidenav-head .head-img{width: 60px; height: 60px; float: left; border-radius: 250px;}
.sidenav .sidenav-head .head-img img{width: 60px; height: 60px; border-radius: 250px;}
.sidenav .sidenav-head .sidenav-title{ display:inline-block; padding-left:20px; vertical-align:middle; padding: 5px 0 5px 15px; overflow: hidden;}
.sidenav .sidenav-head .sidenav-title h3{font-size:2.5rem; margin:0px; color: #1d1d26; margin-bottom: 5px}
.sidenav .sidenav-head .sidenav-title h4{font-size:12px; margin:0px;color: #666 }
.sidenav .sidenav-head .closebtn{position: absolute; top:5px; right:-14px;  text-align: center;
    display:block; width:28px; height:28px; line-height:24px; border: 2px solid #f5f5f5;
    border-radius: 50%; color:#f5f5f5; text-align:center; text-decoration:none;
    background: #464646; box-shadow: 0 0 3px gray; font-size:14px; font-weight:bold;}

.sidenav ul{margin:5px 0 0 0; padding:0; width:100%}
.sidenav .sidenav-item{position:relative; list-style:none;}
.sidenav .sidenav-item a{padding:16px 16px 16px 67px; text-decoration:none; color:#1d1d26; display:block; transition:0.3s; font-size:1.4rem}
.sidenav .sidenav-item a:hover{color:#458dcb;}
.sidenav .divider{background:url(../images/menu-divider.png) no-repeat center; height:8px; }
.sidenav .sidenav-head .sidenav-title h3 { font-size:1rem; margin: 0; color: #1d1d26;
    margin-bottom: 5px; font-weight: 600 }
.sidenav ul { margin: 5px 0 0 0; padding: 0; width: 100%; }
.sidenav .sidenav-item a {padding: 16px 16px 16px 67px; text-decoration: none;  color: #1d1d26;
    display: block; transition: .3s;  font-size:0.8rem;}
.overlay {height: 100%; width: 0; position: fixed;  z-index: 9999; left: 0; top: 0; background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.5); overflow-x: hidden; transition: 0.5s;}
.spacer-dash{height: 25px; clear:both;}
.navbar-toggler{ padding: .25rem 0rem;}
.navbar-brand {padding: 2px 0; position: absolute;left: 50%; margin-left: -40px; top:0px;}
.navbar{padding:0rem 0rem;}
.navbar-icon{background:url(../images/nav-toogle-icon.png) no-repeat center; width:30px; height: 30px; display: inline-block ; }

.disabled-app{opacity:0.8; cursor: auto}

.disabled-app h3{color:#999}
.footer { position: fixed;  right: 0; bottom: 0; left: 0;  z-index: 999;  background:#279dec;text-align: center; border-top:2px solid #fff;}
.footer  a{color:#fff; font-size:20px; font-weight:600; display: inline-block; padding:10px;}
.main-title{background: #0f58ed ; border-top:1px solid #fff; border-bottom:1px solid #fff; color:#fff; text-align: center; width:100%; font-size: 18px;  padding: 15px 0;  margin: 2px 0 0 0;}
.homeLogo {position: absolute; right: 8px; top: 8px; }
.otp-txt{font-size: 13px; padding:0px 0}
.otp-container .btn {background: #ee4e40; color: #fff; border-color: #ee4e40; width: 100%;
}
.otp-container h3{font-size: 22px; margin-bottom:15px;}

.otp-error{font-size: 14px;}

.termsCon{font-size: 12px; margin:0px; padding:0px 0 0 20px;}
.termsCon li{padding:3px;}

.notFound{width:100%;  background:#fff; position: absolute; top:30%; padding:10px; display:flex;align-items: center; justify-content: center;}
.notFound .notFoundImage{margin:0px 0 0 0;width:30%; text-align:right;}
.notFound .notFoundContent{float:left; color:#fb8255; width:70%}
.notFound h2{font-size:50px; margin:0 0 0px 0; padding:0px;}
.notFound h3{font-size:16px; margin:0 0 10px 0; padding:0px;}
.notFound p{font-size:12px; margin:10px 0; padding:0px;}
.notFound a{color:#fb8255; font-size:14px; text-decoration:none;  margin:0 0 10px 0;}






@media (max-width:320px) { 
    .login-logo{ margin:80px 0 20px 0;}
}
