<div class="internal-bg">
    <div class="container-fluid">
        <div class="row">
            <!-- <img src="assets/images/hgs-connect-banner.jpg" width="100%" class="img-fluid" />  -->

            <div class="hgs-home-screen">
                <img src="assets/images/hgs-connect-logo-new.png" class="img-fluid" />
                <h3>Designed to keep</h3>
                <h4>you connected</h4>
                <h5>with everything that is happening.</h5>
                <p>This Window to the HGS World also hosts a plethora of exciting apps, accessible
                    through ‘All My Apps’ below.</p>
                <a class="btn btn-default" routerLink="/home">All MY APPS</a>
            </div>
        </div>
        <div class="row">
            <br /><br />
        </div>
    </div>
</div>