<header *ngIf="!sg.headerShow">
    <nav class="navbar">
        <div class="container p-l-7">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" (click)="openNav()">
                    <span class="navbar-icon"></span>
                </button>

                
                <div class="navbar-brand" *ngIf="router.url != '/hgs-connect'">
                    <a routerLink="/home">
                        <img src="./assets/images/inner-page-logo.png"  alt="" class="img-responsive">
                    </a>
                </div>
                <div class="homeLogo" *ngIf="router.url != '/hgs-connect'">
                    <a routerLink="/hgs-connect"><img src="./assets/images/Home_icon.png" /></a>
                </div>
            </div>
        </div>
    </nav>
</header>
<side-nav *ngIf="!sg.sideNavShow"></side-nav>
<router-outlet></router-outlet>
<footer-page *ngIf="router.url != '/' && router.url != '/splash' && router.url != '/home' && router.url != '/authenticate'"></footer-page>