<div id="sidenavToggle" class="sidenav">
    <div class="sidenav-head clearfix">
        <div class="head-img">
            <img src="{{loginPhoto}}"  onerror="this.onerror=null;this.src='./assets/images/avatar-pic.jpg';" />
        </div>
        <div class="sidenav-title">
            <h3>{{firstName}} {{lastName}}</h3>
            <h4>{{emailId}}</h4>   
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="divider"></div>
    <ul class="list-scroll">
        <li (click)="closeNav()" class="sidenav-item calendar">
                <a routerLink="/hgs-connect">Home</a>
        </li>
        <!-- <li (click)="loginModule('hgs-Connect')" class="sidenav-item dashboard">
            <a routerLink="/hgs-connect">HGS Connect</a>
        </li>
        
        <li (click)="loginModule('tldc-comapss')" class="sidenav-item assessment">
            <a routerLink="/home">TLDC</a>
        </li>
         <li (click)="loginModule('ess-leave')" class="sidenav-item assessment">
            <a routerLink="/home">ESS-Leave</a>
        </li> -->
        <!--<li (click)="closeNav()" class="sidenav-item feedback">
            <a routerLink="/home">ESS-Personal Info</a>
        </li>
        <li (click)="closeNav()" class="sidenav-item about">
            <a routerLink="/home">My Performance</a>
        </li> -->
        <li class="divider"></li>
        <li (click)="logout()" class="sidenav-item logout">
            <a>Logout</a>
        </li>
    </ul>
</div>

<div id="overlayId" class="overlay" (click)="closeNav()"></div>