
  <div class="internal-bg">
   
    <div class="notFound">
      <div class="notFoundImage">
        <img src="./assets/images/404.png" class="img-fluid" alt="" title="" />
      </div>

      <div class="notFoundContent">
        <h2>404</h2>
        <h3>Looks like You are lost</h3>
        <p>The page you are looking for not available!</p>
        <a (click)=logoutHome()>GO TO HOME
          <img src="./assets/images/goto-home.png">
        </a>
      </div>
    </div>
  </div>