<!-- <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    <a class="" routerLink="/home">HGS APPS</a>
                </div>
            </div>
        </div>
    </footer> -->