/* Global Styles */
/*@-ms-viewport{width:auto!important}*/
html{-ms-overflow-style:scrollbar;}
body{font-family:'Open Sans', sans-serif; font-weight:400; font-size:1.4rem; color:#333;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{line-height:normal;}
p{line-height:1.5; margin-bottom:20px}
ul li, ol li{line-height:1.5;}
a{color:#fc9b2a; text-decoration:none; transition:all .5s;}
a:hover{color:#f1800c; text-decoration:none}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s; -webkit-text-fill-color:#fff !important;} 
textarea{width: 100% !important;}
hr{border-color:#eaeaea}
a:focus, button:focus,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none !important; }
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{z-index: 0 !important;}
.mar0{margin: 0 !important;}
.w-100{width: 100% !important;}
.no-border{border:none !important;}
/* Common Styles */ 
.bg-2{background:#0c1721 url('../images/bg-2.jpg') no-repeat center center; background-size:cover; min-height:100vh; position:relative}

.text-white{color:#fff !important;}
.text-red{color:#de4800 !important;}
.text-blue{color:#005da4 !important;}
.text-lightblue{color:#b5cbff !important}
.text-navyblue{color:#081e4d !important;}
.text-yellow{color:#f1b535 !important;}
.text-green{color:#9bcb3f !important;}
.text-grey{color:#666666 !important;}
.thick-border{border-width:2px !important}
.border-grey{border-color:#c2c2c2 !important}
.border-lightbrown{border-color:#d3bc9d !important}
.border-yellow{border-color:#f1b535 !important}
.remove-bottom{margin-bottom:0 !important}
.half-bottom{margin-bottom:5px !important}
.add-bottom{margin-bottom:15px !important}
.add-top{margin-top:15px !important}
.half-top{margin-top:10px !important}
.half-spacer{height:15px; width:100%; font-size:0; display:block;}
.add-spacer{height:30px; width:100%; font-size:0; display:block;}
.long-text{word-wrap:break-word;}
.text-bold{font-weight:700}

.display-1{font-size:2.4rem;}
.display-2{font-size:2.2rem;}
.display-3{font-size:2rem;}
.display-4{font-size:1.8rem;}
.display-5{font-size:1.6rem;}
.display-6{font-size:1.2rem;}

hr.hr-darker{border-color:#ccc}

.padd0{padding-left:0px; padding-right:0px;}

.horizontal-line-text{font-size:12px; text-align:center; position:relative; z-index:2}
.horizontal-line-text:after{content:''; position:absolute; top:50%; left:0; right:0; border-top:1px solid #c7c7c7; z-index:-1;}
.horizontal-line-text .line-center{margin:0; padding:0 10px; background:#fff; display:inline-block;}

.gutter-0.row{margin-right:0; margin-left:0;}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{padding-right:0; padding-left:0;}

.gutter-10.row{margin-right:-5px; margin-left:-5px;}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"]{padding-right:5px; padding-left:5px;}

.img-border{border:1px solid transparent;}

.inner-section{padding-top:20px; padding-bottom:20px}

.btn-default{background:none; border-color:#aeaeae; border-radius:3px; padding:6px 15px; font-size:1.6rem; text-transform:uppercase}
.btn-login{border-radius:40px; font-weight:700; padding:20px;}
.btn-blue{border-color:#005da4 !important; color:#fff !important; background-color:#005da4 !important;}
.btn-green{color:#fff; background-color:#7fba13;}
.btn-green:hover{background:#6ea607; color:#fff}

.btn.btn-100{min-width:100px;}
.btn.btn-120{min-width:120px;}
.btn.btn-160{min-width:160px;}

.btn-group.btn-group-default .btn{margin-left:15px; border-radius:3px !important;}
.btn-group.btn-group-default .btn:first-child{margin-left:0}


.list-elearn{list-style: none; padding: 5px 5px;}
.list-elearn .accordion-panel .accordion-title.active{background: #77dce6}
.list-elearn ul li{padding: 5px 10px !important;}
.btn-elearn{display: block; width: 100%; padding: 5px; text-align: left; line-height: 30px; font-size: 1.3rem}
.btn-elearn img{margin-right: 10px;}
.list-elearn .accordion-panel .accordion-content span{font-size: 13px;}

.link-blue{color:#337ab7; text-decoration:underline}




.form-text{display:block; margin-top:.25rem;}

.form-default .form-group{margin-bottom:25px}
.form-default .form-group .form-control{border-color:#f1ceb2; outline:none; box-shadow:none; height:40px}
.form-default .form-group .form-control:focus{border-color:#de4800}
.form-default .form-group .control-label{font-weight:400; text-transform:uppercase}

.table.table-default th{background:#daedfb; padding-top:12px; padding-bottom:12px; font-size:1.4rem; font-weight:700; color:#4e4e4e}
.table.table-default th, .table.table-default td{vertical-align:middle; border-color:#dbdcdb}
.table.table-default td{padding-top:6px; padding-bottom:6px;}
.table.table-default th:first-child{border-top-left-radius:5px !important;}
.table.table-default th:last-child{border-top-right-radius:5px !important;}
.table.table-default.table-default-flat th:first-child{border-top-left-radius:0 !important;}
.table.table-default.table-default-flat th:last-child{border-top-right-radius:0 !important;}
.table.table-default.table-default-border{border-bottom:1px solid #ddd} 

header{background:#f8f8f8;}

.navbar{margin:0}
.navbar-toggle{display:block;}
.navbar-toggle .icon-bar{background:#aaa; height:3px;}

.navbar-brand{padding:5px 0; position:absolute; left:50%; margin-left:-40px;}

footer{color:#fff; font-size:10px; position:absolute; bottom:10px; left:0; right:0;}
footer .footer-btm-sec{padding:10px 0}
footer .footer-text.horizontal-line-text:after{border-color:#dbddde;}
footer .copyright{text-align:right; font-size:10px; margin-top:6px;}

.panel-login{border-radius:3px; min-height:20px; padding:15px;}
.panel-login > .panel-body{padding:20px 40px;}
.panel-login .form-group{margin-bottom:40px; position:relative}
.panel-login .form-group .form-control{border:0; border-radius:0; border-bottom:1px solid #34508f; background:none; box-shadow:none !important; font-size:16px; font-weight:300; color:#fff; padding:15px 0 15px 40px}
.panel-login .form-group .form-control:focus{border-color:#7293e0}
.panel-login ::-webkit-input-placeholder{color:#586992 !important; text-transform:uppercase;}
.panel-login :-moz-placeholder{color:#586992 !important; text-transform:uppercase;}
.panel-login ::-moz-placeholder{color:#586992 !important; text-transform:uppercase;}
.panel-login :-ms-input-placeholder{color:#586992 !important; text-transform:uppercase;}
.panel-login .form-group label{color:#7293e0; padding-left:40px; font-weight:400; text-transform:uppercase}
.panel-login .pretty .state label{text-indent:2em;}
.panel-login .pretty .state label:before{border-color:#8ac120;}
.panel-login .pretty input:checked~.state label:after, 
.panel-login .pretty.p-toggle .state label:after{background:#8ac120;}
.panel-login .pretty input:checked~.state .icon{color:#fff}
.panel-login hr{border-color:#365191;}

.ico-login{width:20px; height:20px; background-repeat:no-repeat; content:''; display:block; position:absolute; top:20px;}
.ico-login.ico-login-user{background-image:url(../images/ico-login-user.png);}
.ico-login.ico-login-pwd{background-image:url(../images/ico-login-pwd.png);}

.main-title{background:#8ac120; font-size:1.6rem; text-align:center; padding:10px 15px; color:#fff; margin:0px; font-weight:600; text-transform:capitalize}
.sub-title{background:#ebfec8; padding:10px 15px; color:#5a5b5b; border-bottom:2px solid #f0f0f0;}
.inner-title{background:#fcebe9; padding:10px 15px; color:#5a5b5b;}

.sidenav{height:100%; width:0; position:fixed; z-index:1; top:0; right:0; background-color:rgb(46,46,44); transition:0.5s;}
.sidenav .sidenav-head{position:fixed; background:#000; min-height:56px; padding:0 15px; width:100%; z-index: 99;}
.sidenav .sidenav-head .sidenav-title{font-size:15px; display:inline-block; color:#fff; padding-left:10px; vertical-align:middle}
.sidenav .sidenav-head .closebtn{font-size:40px; color:#fff; font-weight:300; display:inline-block; vertical-align:middle}
.sidenav ul{margin:0; padding:0; width:100%; overflow:hidden; position: relative;
  top: 50px; height: 600px; overflow:auto }
.sidenav .sidenav-item{position:relative; list-style:none; border-bottom:1px solid #afafaf; min-height:60px;}
.sidenav .sidenav-item a{padding:19px 19px 19px 59px; text-decoration:none; color:#fff; display:block; transition:0.3s;}
.sidenav .sidenav-item a:hover{color:#f1f1f1;}
.sidenav .sidenav-item:before{display:block; width:30px; height:30px; content:''; position:absolute; margin:15px 0 0 15px; top:0; left:0;}
.sidenav .sidenav-item.dashboard:before{background-image:url(../images/menu-icons/dash.png);}
.sidenav .sidenav-item.calendar:before{background-image:url(../images/menu-icons/calendar.png);}
.sidenav .sidenav-item.nomination:before{background-image:url(../images/menu-icons/nomination.png);}
.sidenav .sidenav-item.assessment:before{background-image:url(../images/menu-icons/assessment.png);}
.sidenav .sidenav-item.feedback:before{background-image:url(../images/menu-icons/feedback.png);}
.sidenav .sidenav-item.about:before{background-image:url(../images/menu-icons/about.png);}
.sidenav .sidenav-item.contact:before{background-image:url(../images/menu-icons/contact.png);}
.sidenav .sidenav-item.learning:before{background-image:url(../images/menu-icons/learning.png);}
.sidenav .sidenav-item.videos:before{background-image:url(../images/menu-icons/videos.png);}
.sidenav .sidenav-item.logout:before{background-image:url(../images/menu-icons/logout.png);}
.sidenav .sidenav-item.inbox:before{background-image:url(../images/menu-icons/email.png);}


ol{padding-left:15px;}
ol > li{padding-bottom:15px;}

.list-primary .list-group-item{border-left:0; border-right:0; padding-left:70px}
.list-primary .list-group-item:first-child{border-top:0}
.list-primary .list-group-item.item-ico:before{position:absolute; display:block; width:40px; height:40px; content:''; top:20px; left:15px;}
.list-primary .list-group-item.item-ico.email:before{background-image:url(../images/contact-mail.png);}
.list-primary .list-group-item.item-ico.phone:before{background-image:url(../images/contact-phone.png);}
.list-primary .list-group-item h4{font-weight:700; font-size:1.6rem; margin-bottom:0}
.list-primary .list-group-item a{color:#333}

.accordion-panel{margin-bottom:10px; clear:both;}
.accordion-panel .accordion-title{position:relative; cursor:pointer; font-weight:700; font-size:1.4rem; line-height:1.5; padding:10px 30px 10px 15px; margin:0; background:#e7e8e8}
.accordion-panel .accordion-title:after{display:block; position:absolute; top:0; right:15px; width:20px; height:40px; line-height:1.3; font-size:3rem; text-align:center; content:'+'; font-weight:700;}
.accordion-panel .accordion-title.active{background:#01a9b2; color:#fff}
.accordion-panel .accordion-title.active:after{content:'-';}
.accordion-panel .accordion-content{display:none; padding:0; background:#d7f3f6}
.accordion-panel .accordion-content ol{padding:0;}
.accordion-panel .accordion-content ol li{padding: 0 0 1px 10px; list-style-position: inside;}
.accordion-panel .accordion-content ol li h5{display: inline-block; width: 95%; padding-right:38px;}
.accordion-panel .accordion-content .fa{font-size: 18px; font-weight: bold; margin-top: 12px; margin-right: 10px;}
.accordion-panel .accordion-content ol li ul{margin-left: -50px; background: #fafcf9;}
.accordion-panel .accordion-content ol li ul li{padding:5px 0 5px 25px;}
.accordion-panel .accordion-content ol li ul li .fa{margin-top: 0;}
.list-alpha li{border-bottom:1px solid #ccc; padding-top:10px; padding-bottom:10px}
.list-alpha li:last-child{border:0}

.app-ico{position:relative; padding-left:50px; display:block}
.app-ico:before{display:block; width:40px; height:40px; content:''; position:absolute; margin:0; top:0; left:0;}
.app-ico.ico-date:before{background-image:url(../images/icons/pre-assessment_11.png);}
.app-ico.ico-time:before{background-image:url(../images/icons/pre-assessment_14.png);}

.app-ico.ico-venue:before{background-image:url(../images/icons/pre-assessment_5.png);}
.app-ico.ico-facilitator:before{background-image:url(../images/icons/facilitator-name.png);}

.media-list{display:table; width:100%}
.media-list .media-body{display:table-cell; vertical-align:middle}

.list-data{list-style:none; margin:0; padding:0;}
.list-data li{padding:5px 15px 5px 65px; position:relative; border-bottom:1px solid #bdbdbd; min-height:50px;}
.list-data li:before{display:block; width:40px; height:40px; content:''; position:absolute; top:50%; left:0; margin-top:-20px; margin-left:15px;}
.list-data li.ico-target:before{background-image:url(../images/icons/pre-assessment_6.png);}
.list-data li.ico-nominate:before{background-image:url(../images/icons/pre-assessment_7.png);}
.list-data li.ico-venue:before{background-image:url(../images/icons/pre-assessment_5.png);}
.list-data li.ico-workshop:before{background-image:url(../images/icons/pre-assessment_07.png);}
.list-data li.ico-date:before{background-image:url(../images/icons/pre-assessment_11.png);}
.list-data li.ico-time:before{background-image:url(../images/icons/pre-assessment_14.png);}

.list-data .ico-facilitator:before{background-image:url(../images/icons/facilitator-name.png);}

.list-data li div[class^="row"]{display:table; width:100%; margin:0; min-height:50px;}
.list-data li div[class^="col-"]{display:table-cell; vertical-align:middle; float:none; padding:0}
.list-data li ul{padding-left: 0px;}
.list-data li li{padding:5px; border:none; min-height: 20px}
.list-data.list-data-second li{padding:5px 0 5px 50px;}
.list-data.list-data-second li:before{margin-left:0;}
.list-data.list-data-second li:last-child{border:0}

.card-paramter{margin-bottom:5px;}
.card-paramter .card-header{background:#1abcc7; padding:10px 16px;}
.card-paramter .card-header .card-title{color:#fff; font-weight:500; font-size:1.4rem; margin:0;}
.card-paramter .card-content{background:#e8f8f9; padding:10px 16px;}

.list-radio-group .list-header{background:#e7e8e8 !important; margin-bottom:0; font-weight:500; padding:10px 15px}
.list-radio-group .list-radio{list-style:none; margin:0 0 15px; padding:15px; border-bottom:1px solid #bdbdbd}
.list-radio-group .list-radio li{overflow:hidden; width:100%; padding:5px 0}
.list-radio-group .list-radio li label{width:100%}
.list-radio-group .list-radio li .pretty{width:100%}
.list-radio-group .list-radio li .pretty .state label{text-indent:0}
.list-radio-group .list-radio li .pretty .state label:after, 
.list-radio-group .list-radio li .pretty .state label:before{right:0; left:auto}

.footer-toolbar{display:table; width:100%; background:#2e2e2c; list-style:none; margin:0; padding:0;  }
.footer-toolbar li{display:table-cell; text-align:center; border-right:1px solid #828280; padding:5px}
.footer-toolbar li:last-child{border:0}

.footer-wrapper{position:fixed; bottom:0; left:0; right:0; height:33px}
.footer-spacer{height:40px}

.list-default{padding-left:20px;}

.bx-question {
  background: #458dca;
  color: #fff;
  padding: 10px 16px;
}

.congratulation-container {
  padding: 0 0 10px 0; 
  text-align: center;
}

.congratulation-container > h2 {
  margin-top:5px;
  font-size: 22px;
  color: #333; 
  font-weight: bold; 
}

.pretty.p-questions{margin-right:0}
.pretty.p-questions .state label:before{border-color:#458dca;}
.pretty.p-questions input:checked~.state label:after, .pretty.p-questions.p-toggle .state label:after{background:#458dca;}
.pretty.p-questions input:checked~.state .icon{color:#fff}

.pretty.p-orange input:checked~.state label:after{background:#f08508 !important}

.progress-bar{background:#f89420;}

.chart{position:relative; width:100%; margin:0 auto}
.chart easy-pie-chart{display:block; margin: auto; top: 0px; left: 0; bottom: 0; right: 0; position: absolute;}
.chart canvas{position: absolute; top: 0; left: 0; right: 0; margin: auto;}
.chart .percent, .chart .label{text-align:center; color:#333;}
.chart .percent{font-size:3.2rem; font-weight:300; line-height:100px; display:block; margin-bottom: 10px;}
.chart .label{font-size:22px; text-transform:uppercase; letter-spacing:1px; margin-bottom: 10px; display: block}
.chart.chart-lg{width:200px;}
.chart.chart-lg .percent{font-size:4.8rem; line-height:200px;}

.smash-scroll{overflow-x:hidden; overflow-y:auto; height:190px;}

.form-control-feedback{position:relative; width:auto; color:#fff; margin-top:.25rem;}
.panel-login .form-control-feedback{color:#f1b535}
.iframe-wrapper, .video-wrapper{position:relative; padding-bottom:56.25%; height:0}
.iframe-wrapper iframe, .video-wrapper video{position:absolute; top:0; left:0; width:100%; height:100%; border:0}

.responsive-video{width:100%; max-width:500px; height:auto;}

.cal-event-bx{color:#5a5b5b;}
.cal-event-bx li{border-bottom:1px solid #e6e6e6; padding:10px 20px; border-left:2px solid #1abcc7; line-height:1.2}
.cal-event-bx li:last-child{border-bottom:0}
.cal-event-bx .cal-event-date{font-size:18px}
.cal-event-bx .cal-event-day{text-transform: uppercase; font-size:16px}
.cal-event-bx .media-body{vertical-align:middle}

/* Calendar */
.calendar-header {
  background: #1abcc7;
  color: #fff;
  border-top: 2px solid #7ecfd4;
  border-bottom: 1px solid #8ddee3;
  padding: 0 15px;
}

.calendar-header button {
  color: #fff;
  font-size: 3rem;
  background: none;
  border: 0;

}

.calendar-header h2{ font-size: 1.8rem; margin:10px 0}

.cal-month-view {
  background: #fafcf9;
  border-bottom: 2px solid #edeeed;
}
.cal-month-view .cal-cell-top {
  min-height: auto !important;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 0 !important;
  float: none !important;
  display: inline-block;
  min-height: 50px;
  min-width: 50px;
  padding-top: 14px;
  color: #4e4e4e;
  border-radius: 50%;
}
.cal-month-view .cal-day-cell {
  min-height: 49px !important;
}
.cal-month-view .cal-days {
  padding-top: 5px;
}
.cal-month-view .cal-events {
  margin: 0 !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
  color: #fff !important;
  background-color: #1abcc7 !important;
}
.alg-list li{padding: 5px 0 !important; text-align: left;}
.alg-list li .btn-default{font-size: 1.2rem;}
.mail-table .fa{color:#333; font-size: 24px;}
.mail-content{overflow: auto; width: 100%;}
.mail-content table{width: 100%; border:1px solid #ddd !important; padding:0px 5px; margin-bottom: 15px;}
.mail-content table table{width: 100%; border:0px solid #ddd !important; padding:0px; margin-bottom:0px;}
.mail-content .Mail_Heading{font-size: 20px;}
.mail-content .TD1{font-size: 20px;}
.mail-content .TD0{font-size: 16px; border-bottom: 1px solid rgb(240, 239, 239); border-right: 1px solid rgb(240, 239, 239);}
.mail-content .TD2{ font-size: 16px; border-bottom: 1px solid rgb(240, 239, 239);}
.mail-content .Dear{position: relative; top:-17px;}
.mail-content .Dear th{text-align: right; padding:0 15px;}
.inbox-accordian .accordion-panel .accordion-title{padding-left: 35px;}
.inbox-accordian .accordion-panel .accordion-title .fa{position: absolute; top: 13px; left: 11px;
  font-size: 15px}

.normal-weight{font-weight:normal;}

ul.list{padding-left:20px;}
ul.list p{margin-bottom: 5px;}
ul.history-list{margin-top:10px; font-weight:bold; padding: 0 0 0 27px;}




@media (min-width: 300px) and (max-width: 340px) {
  .cal-month-view .cal-events {
    bottom: 11% !important;
  }
  .cal-month-view .cal-day-cell {
    min-height: 37px !important;
    height: auto;
    max-height: 42px;
  }
  .cal-month-view .cal-day-number {
    margin-top: 8px !important;
  }
}
@media (min-width: 360px) {
  .cal-month-view .cal-day-cell {
    min-height: 46px !important;
  }
}
@media (min-width: 380px) {
  .cal-month-view .cal-day-cell {
    min-height: 54px !important;
  }
}
@media (min-width: 360px) and (max-width: 650px) and (orientation: landscape) {
  .cal-month-view .cal-day-cell {
    min-height: 84px !important;
    max-width: 94px;
    padding: 5px 0;
  }
  .cal-month-view .cal-day-number {
    font-size: 1.5em !important;
    margin-bottom: 10px;
    margin-top: 25% !important;
  }
  .cal-month-view .cal-events {
    bottom: 30% !important;
  }
}
@media (min-width: 412px) and (max-width: 440px) and (orientation: landscape) {
  .cal-month-view .cal-day-cell {
    min-height: 88px !important;
    max-width: 94px;
    padding: 5px 0;
  }
  .cal-month-view .cal-day-number {
    font-size: 1.5em !important;
    margin-bottom: 10px;
    margin-top: 25% !important;
  }
  .cal-month-view .cal-events {
    bottom: 30% !important;
  }
}
mwl-calendar-month-view-header .cal-month-view .cal-header .cal-cell {
  width: 2ch;
  overflow: hidden;
  white-space: nowrap;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer;
  position: relative;
}
.cal-month-view .cal-events {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: -1%;
  display: initial !important;
}
.cal-month-view .cal-day-badge {
  /*display: none !important;*/
  z-index: 999;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  bottom: 0 !important;
  background:none !important;
  font-size: 0px !important;

}
.cal-month-view .cal-header {
  text-align: center;
  color: #1d1d26;
}
.cal-month-view .cal-cell-row:hover {
  background-color: #fafafa;
}
.cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #ededed;
}
.cal-month-view .cal-days {
  border: 1px solid #e1e1e1;
  border-bottom: 0;
}
.cal-month-view .cal-cell-top {
  min-height: 78px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cal-month-view .cal-cell-row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.cal-month-view .cal-cell {
  float: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cal-month-view .cal-day-cell {
  min-height: 100px;
}
.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}
.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #e1e1e1;
}
.cal-month-view .cal-day-badge {
  margin-top: 18px;
  margin-left: 10px;
  background-color: #b94a48;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 15px;
  float: right;
}
.cal-month-view .cal-events {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 3px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer;
}
.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.3;
  cursor: default;
}
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: darkred;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.9em;
}
.cal-month-view .cal-day-cell.cal-drag-over {
  background-color: #e0e0e0 !important;
}
.cal-month-view .cal-open-day-events {
  padding: 0px;
  color: white;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.cal-month-view .cal-open-day-events .cal-event {
  position: relative;
  top: 2px;
  left:5px;
}
.cal-month-view .cal-event-title {
  color: white;
}
.cal-month-view .cal-out-month .cal-day-badge, .cal-month-view .cal-out-month .cal-event {
  opacity: 0.3;
}

.cal-week-view .cal-day-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 3px;
  border: 1px solid #e1e1e1;
  margin-left: 2px;
  margin-right: 2px;
}
.cal-week-view .cal-day-headers .cal-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 5px;
}
.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}
.cal-week-view .cal-day-headers .cal-header:hover {
  background-color: #ededed;
}
.cal-week-view .cal-day-headers .cal-drag-over {
  background-color: #ededed;
}
.cal-week-view .cal-day-headers span {
  font-weight: 400;
  opacity: 0.5;
}
.cal-week-view .cal-events-row {
  position: relative;
  height: 33px;
}
.cal-week-view .cal-event-container {
  display: inline-block;
  position: absolute;
}
.cal-week-view .cal-event {
  padding: 0 10px;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  line-height: 30px;
}
.cal-week-view .cal-draggable {
  cursor: move;
}
.cal-week-view .cal-starts-within-week .cal-event {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cal-week-view .cal-ends-within-week .cal-event {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cal-week-view .cal-header.cal-today {
  background-color: #e8fde7;
}
.cal-week-view .cal-header.cal-weekend span {
  color: #8b0000;
}
.cal-week-view .cal-event, .cal-week-view .cal-header {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-day-view .cal-hour-rows {
  width: 100%;
  border: solid 1px #e1e1e1;
  overflow-x: scroll;
  position: relative;
}
.cal-day-view .cal-hour:nth-child(odd) {
  background-color: #fafafa;
}
.cal-day-view mwl-calendar-day-view-hour-segment {
  -ms-touch-action: initial !important;
  touch-action: initial !important;
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
  -webkit-user-drag: initial !important;
  display: block;
}
.cal-day-view .cal-hour-segment {
  display: block;
}
.cal-day-view .cal-hour-segment::after {
  content: '\A0';
}
.cal-day-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: thin dashed #e1e1e1;
}
.cal-day-view .cal-time {
  font-weight: bold;
  padding-top: 5px;
  width: 70px;
  text-align: center;
}
.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: none;
}
.cal-day-view .cal-hour-segment:hover {
  background-color: #ededed;
}
.cal-day-view .cal-drag-over .cal-hour-segment {
  background-color: #ededed;
}
.cal-day-view .cal-event-container {
  position: absolute;
}
.cal-day-view .cal-event {
  border: solid 1px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cal-day-view .cal-draggable {
  cursor: move;
}
.cal-day-view .cal-starts-within-day .cal-event {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cal-day-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cal-day-view .cal-all-day-event {
  padding: 8px;
  border: solid 1px;
}

.cal-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 11px;
  word-wrap: break-word;
  opacity: 0.9;
}
.cal-tooltip.cal-tooltip-top {
  padding: 5px 0;
  margin-top: -3px;
}
.cal-tooltip.cal-tooltip-top .cal-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.cal-tooltip.cal-tooltip-right {
  padding: 0 5px;
  margin-left: 3px;
}
.cal-tooltip.cal-tooltip-right .cal-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.cal-tooltip.cal-tooltip-bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.cal-tooltip.cal-tooltip-bottom .cal-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.cal-tooltip.cal-tooltip-left {
  padding: 0 5px;
  margin-left: -3px;
}
.cal-tooltip.cal-tooltip-left .cal-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.cal-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.cal-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.cal-month-view .cal-out-month .cal-event {
  opacity: 0 !important;
  display: none;
}
.cal-month-view .cal-days, .cal-month-view .cal-day-cell:not(:last-child), .cal-month-view .cal-days .cal-cell-row {
  border: 0 !important;
}
.cal-month-view .cal-event {
  width: 7px !important;
  height: 7px !important;
}

.cal-header {
  background: #39bcc7;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px;
  border-bottom: 2px solid #edeeed;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: inherit;
}

.cal-month-view .cal-day-cell.cal-out-month.cal-today {
  background-color: rgba(57, 188, 199, 0.08) !important;
  color: #9E9E9E;
}
.cal-month-view .cal-day-cell.cal-out-month.cal-today .cal-day-number {
  color: #795548;
}
.cal-event.ng-star-inserted:nth-of-type(1n+4) {display: none;}
.faqs-acc .accordion-content .container{padding-top: 15px;}

/* Log Table */
.log-list{padding:0 15px; }
.log-list li{padding: 0 0 15px;}
.log-table{width: 100%;}
.log-table tr td, .log-table tr th{padding: 10px; border: solid 1px #bdbdbd; border-collapse: collapse; width: 50%;}
.dashbotbl.log-table tr td, .dashbotbl.log-table tr th{width: 35%;}

.log-table tr th{background: #17a5af; color: #fff;}
.form-control-feedback{color: #ff0000;}

/* Input Calendar */
.ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1]{z-index: 99; width: 100% !important;}
.list-selectors.list-data li div[class^="col-"]{float: left; margin-bottom: 10px;}

.mail-date .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-input[_ngcontent-c1] {width:100%; border:none; padding:0;}

.iframe{border: none;}

/*Loader*/
.lds-wrappr{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #9daebd;
  z-index: 9999;
}
.lds-grid {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  margin: auto; 
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #11464a;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/*Loader*/


.video-acc .accordion-panel .accordion-title{font-weight:normal;}
.video-acc .accordion-panel .accordion-content .video-wrapper{ padding-top:10px;}
.video-wrapper video{margin:0 auto; width:100%;}
.table-expectation th{background:#1abcc7; color:#fff;}
.table-expectation td label{font-weight: normal;}
.pad-10{padding:10px !important;}

.cal-month-view .cal-event-title{display: inline-block;}
.cal-month-view .cal-open-day-events{background:#d7f3f6; box-shadow:none; color: #333}
.ng-star-inserted .cal-month-view .cal-event-title{color:#333; padding:5px;}

.calender-legends{padding: 10px 15px; color: #5a5b5b;}
.calender-legends h2{font-size: 14px; font-weight: bold;  margin:0px 0 5px 0;}
.calender-legends h3{font-size: 12px; margin: 0px 20px 5px 0; display: inline-block;}
.calender-legends span{display: inline-block;  width:20px; height: 15px; margin-right: 5px; border-radius: 5px; position: relative; top:3px;}
.calender-legends .red{background:#FFC200 }
.calender-legends .blue{ background:#1e90ff}
.calender-legends .yellow{background:#e3bc08}
.calender-legends .green{ background:#046e07}

.calender-legends .completed{background:#6e953d}
.calender-legends .cancelled{background:#a80e1f}
.calender-legends .scheduled{background:#f19037}

.rating-div{ border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea;  padding-top: 10px;}
.self-nomi-heading{margin:0 0 5px 0}
.click-here{background:url('../images/click-here.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; top:5px; right: 10px;}
.table.table-ass-pro tr th{background: #e7e8e8; font-weight:normal;}
.accordion-panel .accordion-content ol li{position: relative;}
.accordion-panel .accordion-content ol li ul li .click-here{top:-1px;}

ol.termsCon {padding-left: 18px;  text-align: justify; padding-right: 8px;}
ol.termsCon P{margin-bottom:5px;}
ol.termsCon li{padding-bottom: 10px;}
.about-termcon{padding-left: 20px !important; margin:5px 0; }
.about-termcon li{list-style-position: inherit !important;}
.about-termcon li ul{background:none  !important; margin-left: 0px !important;}
.about-termcon li ul li{padding-left: 5px  !important;}
.pdvideo{padding:10px 10px 2px 10px  !important;}
.video-acc .accordion-content .accordion-panel .accordion-title.active{background: #77dce6;}

.video-gallery-tldc{margin-top:10px;}
.video-gallery-tldc h2.title{background: #1abcc7; color: #fff; font-size: 1.4rem; line-height: 1.5;
  padding: 10px 30px 10px 15px; margin:0px 0 10px 0;}
.video-gallery-tldc h3.sub-title{background: #d7f3f6; font-size: 1.2rem;
    padding: 10px 30px 10px 15px; margin:5px 0 5px 0; font-weight: 700;}
.video-gallery-tldc .video-wrapper{ clear:both;}
.video-gallery-tldc-con{padding:0 10px;}

.accordion-panel .remove-plus-icon:after{display:none;}
.accordion-panel .remove-plus-icon.active{background: #e7e8e8; color: #333;}
.accordion-panel .add-plus-icon{color:#00bcc6;}
.accordion-panel .add-plus-icon:after{color:#333;}
a.cal-event-action span.hidetrainingId{visibility: hidden;}
.returnHome{position: absolute; font-size: 39px; top: 8px; left: 10px;}

.login-div-direct{padding-top:150px !important;}
.login-div-direct h3 {border-bottom: 1px solid #29669b; padding: 15px 10px;
  font-size: 1.3rem; text-align: center; margin-bottom: 10px; color:#fff; }
.load-image{background:url('../images/loader.gif'); width:84px; height: 16px;  margin:10px auto 0px auto;}

.mail-list{list-style: none; margin:0px; padding:0px;}

.mail-list li{ border-bottom: 1px solid #e5e5e5;}
.mail-list li:first-child{border-top: 1px solid #e5e5e5;}
.mail-list h3{font-size: 15px; margin:4px 0; padding:0px; color:#000}
.mail-list h4{font-size: 12px;margin:0px 0 5px 0; padding:0px; color:#666}
.mail-list h5{font-size: 12px; margin:0px; padding:0px; text-align: right }
.mail-list .mail-read{margin:3px 0 0 0; color: #de4800}
.mail-read-active{font-weight: bold; background: rgba(243,243,243,.85);}
.mail-read-inactive h3{font-weight: bold;}
.mail-read-inactive h4{font-weight: bold;}
.mail-read-inactive h5{font-weight: bold;}
.mail-read-active .mail-read{margin:3px 0 0 0; color:orange}
.button-color-disabled .btn.disabled, .button-color-disabled .btn[disabled] {    background: #9c9d9d !important; border: 1px solid #9c9d9d !important;}
.power-by{color:#fff; padding:8px 5px; text-align:center; font-size:12px; font-weight: normal;}
.power-by img{width: 60px;}

.fix-error{
position: fixed;
bottom: 21px;
width: 100%;
}
.fix-error .close{position: absolute; right: 5px; top: 8px;}
.notFound{width:100%;  background:#fff; position: absolute; top:30%; padding:10px; display:flex;align-items: center; justify-content: center;}
.notFound .notFoundImage{margin:0px 0 0 0;width:30%; text-align:right;}
.notFound .notFoundContent{float:left; color:#fb8255; width:70%}
.notFound h2{font-size:50px; margin:0 0 0px 0; padding:0px;}
.notFound h3{font-size:16px; margin:0 0 10px 0; padding:0px;}
.notFound p{font-size:12px; margin:10px 0; padding:0px;}
.notFound a{color:#fb8255; font-size:14px; text-decoration:none;  margin:0 0 10px 0;}

.internal-bg{background:url(../images/internal-bg2.png) no-repeat;  background-size: cover;  min-height:100vh;
  position: relative; padding-top: 50px; }



@media screen and (max-width: 414px) {
  .sidenav ul{height:600px;}
}

@media screen and (max-width: 320px) {
  .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-days[_ngcontent-c1] .day-unit[_ngcontent-c1], .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-days[_ngcontent-c1] .year-unit[_ngcontent-c1], .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-years[_ngcontent-c1] .day-unit[_ngcontent-c1], .ngx-datepicker-container[_ngcontent-c1] .ngx-datepicker-calendar-container[_ngcontent-c1] .main-calendar-container[_ngcontent-c1] .main-calendar-years[_ngcontent-c1] .year-unit[_ngcontent-c1]{height: 31px !important;}
  .sidenav ul{height:500px;}
}